.layout__auth {
  color: #fff;
  padding-top: 60px;
  padding-left: 160px;
}

.layout__auth h2 {
  padding-top: 20px;
  padding-bottom: 15px;
}

.layout__auth p {
  line-height: 2;
}

.layout {
  padding: 0 !important;
  margin: 0 !important;
}

.layout__auth--background {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

.layout__auth--image {
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 20px;
}

.layout__auth h2 {
  font-size: 24px;
  font-weight: 700;
}

.layout__auth p {
  font-size: 17px;
  font-weight: 400;
}
