@import "assets/css/authLayout.css";
@import "assets/css/navbar.css";
@import "assets/css/footer.css";
@import "assets/css/register.css";
@import "assets/css/login.css";
@import "assets/css/resetPassword.css";
@import "assets/css/confirmResetPassword.css";
@import "assets/css/createPin.css";
@import "assets/css/pinSuccess.css";
@import "assets/css/sidebar.css";
@import "assets/css/home.css";
@import "assets/css/history.css";
@import "assets/css/transfer.css";
@import "assets/css/amount.css";
@import "assets/css/confirmation.css";
@import "assets/css/success.css";
@import "assets/css/profile.css";
@import "assets/css/personalInfo.css";
@import "assets/css/changePassword.css";
@import "assets/css/changePin.css";
@import "assets/css/addPhoneNumber.css";
@import "assets/css/managePhoneNumber.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

::placeholder {
  color: #a9a9a966;
}

* {
  box-sizing: border-box;
}

.image__auth__section {
  padding: 0 !important;
}

.form__auth__section {
  padding: 100px 80px 20px 30px !important;
}

.form__auth__section h2 {
  line-height: 1.5;
  padding-bottom: 20px;
}

.form__auth__section p {
  line-height: 1.9;
  font-size: 17px;
  color: #3a3d4299;
}
