@import "assets/css/authLayout.css";
@import "assets/css/navbar.css";
@import "assets/css/footer.css";
@import "assets/css/register.css";
@import "assets/css/login.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.image__auth__section {
  padding: 0 !important;
}

.form__auth__section {
  padding: 100px 80px 20px 10px !important;
}

.form__auth__section h2 {
  line-height: 1.5;
  padding-bottom: 20px;
}

.form__auth__section p {
  line-height: 1.9;
  font-size: 17px;
}
